.a{
    background: silver;
    height: 200px;
    width: 1100px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.acdef{
    display: flex;
    justify-content: center;
}

.bcde{
    display: flex;

}
.wrap {
    background: white;
    height: 500px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

}

.b{
    background: blue;
    height: 250px;
    width: 900px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 25px;

}
.c{
    background: yellow;
    height: 250px;
    width: 280px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}
.d{
    background: pink;
    height: 250px;
    width: 280px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}
.e{
    background: cornflowerblue;
    height: 250px;
    width: 280px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}
.f{
    background: violet;
    height: 510px;
    width: 199px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}