.direction {
    display: flex;
    justify-content: center;
    align-items: center;
}
.classA {
    height: 150px;
    background: greenyellow;
    font-size: 60px;
}


.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrap {
    display: flex;
    width: 100%;
}
.wrap-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.classB {
    margin: 5px 5px 0px 0px;
    height: 247px;
    width:95%;
    background: violet;
    font-size: 60px;
}
.H {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.classH {
    margin-top:5px;
    height: 500px;
    width: 100%;
    font-size: 60px;
    background: cornflowerblue;
}