.A {

    background: hotpink;
    height: 150px;
    width: 700px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.BCDEFGH{
    display: flex;
    justify-content: center;
}

.BCDEFG{
    display: flex;

}
.wrap {
    background: white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;

}

.a {
    background: yellow;
    height: 149px;
    width: 149px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.h {
    background: greenyellow;
    height: 299px;
    width: 200px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}