.Mariana {
    display: flex;

}
.T {
    background: silver;
    width: 500px;
    height: 80px;
}

.Marta {
    display: flex;
    flex-direction: column;

}
.a {
    background: silver;
    width: 60px;
    height: 60px;
}